*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
}

h2{
  text-transform: capitalize;
}

header{
  height: 70vh;
  background-image: url(pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/*=============Navbar section=========*/
.navbar{
  width: 100%;
  height: auto;
  padding: 0 3rem;
  background: white;
  position: fixed;
  padding-bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar .book {
  text-align: center;
  background: red;
  margin-top: 0;
  padding: 0.6rem 3rem;
  color: white;
  align-items: center;
  text-transform: capitalize;
  
}

.nav-info{
  display: flex;
  justify-content: space-around;
}

.nav-info h2, .nav-info #toggle-btn{
  text-transform: capitalize;
  font-weight: 800;
}

#toggle-btn{
  font-size: 1.2rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.navlinks{
  list-style: none;
  text-align: center;
}

.navlinks a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1.2rem 0;
  color: black;
  text-transform: capitalize;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.navlinks a:hover{
  transform: scale(1.2);
}

/*=========------sidebar===========*/
.navlinks-container{
  /*display: none;*/
  position: fixed;
  height: 100%;
  width: 0vw;
  top: 0;
  right: 0;
  background: white;
  overflow: hidden;
  transition: 0.5s ease-out;
  z-index: 2;
}

.navlinks-container.show{
  width: 70vw;
}
.close-container{
  display: flex;
  justify-content: end;
  padding: 1rem;
}
.close-btn {
  background: none;
  text-align: right;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 100;
  cursor: pointer;
}

section{
  margin: 0;
  background: #edf1fe;
  padding: 0;
}
/*=========End of navbar ========*/
.info{
  text-align: center;
  text-transform: capitalize;
  color: white;
  padding-top: 9rem;
  margin: 3rem;
  margin-top: 8rem;
}

.info .contact-btn{
  text-transform: capitalize;
  padding: 0.7rem 2rem;
  opacity:0.7;
  align-items: center;
  border: none;
}

/*===========Section==========*/

/*==========about ==========*/
 #about{
  text-align: center;
  padding:0 3rem;
  line-height: 2rem;
  margin: 0 auto;
}
#about h1{
  font-family: Monospace;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 100;
  margin-top: 0;
}

.products{
  margin-top: 1rem;
  line-height: 2rem;
  display: grid;
  align-items: center;
  overflow: hidden;
}

.about-list{
  text-align: center;
  padding: 0;
  background: black;
  margin: 1.2rem 0;
  opacity: 0;
  transform: translate(100px);
  transition:.5s ease-out;
}

.about-list.showing{
  opacity: 1;
  transform: translate(0);
}
.about-img{
  height: 200px;
  width: 100%;
 object-fit: cover;
 object-position: center;
  margin: 0;
  padding: 0;
}

.about-info{
  background:black;
  color: white;
  margin: 0.5rem;
  text-align: center;
}

.about-info p,
.about-info h2{
  margin: 0;
  padding: 0;
}

.btn-about{
  font-family: Monospace;
  padding: 0.8rem;
  background: red;
  width: 100%;
  border: none;
  color: white;
  text-transform: capitalize;
  align-items: center;
  font-size: 18px;
  margin-bottom: 4rem;
}

.pic{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/*=========service ===============*/
#service{
  padding: 0 3rem;
  font-family: Times New Roman;
  line-height: 2rem;
}


.service-list{
  margin: 1rem 0;
  padding:0;
  border-radius: 8px;
  
}
.service-info h2{
  text-transform: capitalize;
}

.single-service{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0;
  place-content: center;
  align-items: center;
  margin: 2rem auto;
  line-height: 1rem;
  font-family: Monospace;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s ease-in;
}

.single-service.slide-in{
  opacity: 1;
  transform: translateY(0);
}

.single-service .icon{
  color: red;
  font-size: 2rem;
  background:none;
  outline: none;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid red;
}

.single-service span{
  display: block;
margin: 0;
  padding: 0 0 0 1rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 200;
}
/*=========end of service section ==== */

/*===----FAQ------========--*/
#faq{
  padding: 0 3rem;
}

.faq-info{
  background: url('pic1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  margin-top: 0;
  color: white;
  font-family: Times New Roman;
  padding: 10px;
  padding-top: 50%;
  z-index: 1;
}
.faq-questions{
  margin: 0;
  height: 30vh;
  background: white;
  padding: 0 1rem;
  overflow: scroll;
}
.single-question{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.faq-btn{
  outline: none;
  background: none;
  border: none;
}
.faq-btn{
  cursor: pointer;
}
.faq-btn span{
  display: inline-block;
  cursor: pointer;
}
.display .plus-btn{
  display: none;
}

.minus-btn{
  display: none;
}
.display .minus-btn{
  display: inline-block;
}
.answers{
  font-family: Monospace;
  padding-right: 1.5rem;
  line-height: 2rem;
  display: none;
}
.display .answers{
  display: block;
}
.single-container{
  border-bottom: 1px solid red;
  padding: 2rem 0;
}

/*
@media only screen and (min-width:1700px){
  header{
    height: 50vh;
  }

.navbar{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0 1rem;
  }
  .navlinks-container{
    display: flex;!important
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  .nav-info{
    display: flex;
    justify-content: space-around;
  }
  .nav-info h2{
    font-weight: 300;
  }
  
  .navlinks{
    display: flex;
  }
  
  .navlinks a{
    display: block;
    margin: 0 2rem;
  }
  
  
  .navbar .book{
    padding: 0.3rem;
    margin: 0;
  }
  #toggle-btn{
    display: none;
  }
  
  .close-btn{
    display: none;
  }
  
  .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    width: 100%;
    margin: 9px auto;
  }
  
  .about-list{
    margin: 5px;
  }
  .about-img{
    height: 300px;
    width: 100%;
  }
  .about-info p{
    font-size: 11px;
  }
  .about-info h2{
    font-size: 15px;
  }
}
*/
